.about {
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.about h1 {
  text-align: center;
  margin-bottom: 2em;
}

.company-intro,
.mission-vision,
.team,
.values {
  margin-top: 4em;
}

.team-members {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2em;
}

.team-member {
  flex: 1;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-member h3 {
  color: #d12027;
  margin-bottom: 0.5em;
}

.team-member p {
  margin-bottom: 1em;
}

.values ul {
  list-style-type: none;
  padding: 0;
}

.values li {
  margin-bottom: 0.5em;
}

/* For mobile screens, stack the items vertically */
@media (max-width: 768px) {
  .team-members {
    flex-direction: column;
  }
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em auto;
  position: relative;
  min-height: 30vh;
  text-align: center;
}

.about-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  width: 100%;
  height: 100%;
  background-image: url("../assets/LogoSmall.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.05;
  z-index: -1;
}
