/* Only keeping contact-specific styles */
.contact-info,
.contact-form,
.business-hours {
  margin-top: 2em;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 0.5em;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5em;
  background-color: #ebebeb; /* Light gray background */
  border: 1px solid #b8b8b8; /* Light border */
  border-radius: 4px; /* Slightly rounded corners */
  color: black;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #000000; /* Red border when focused */
  background-color: #fff; /* White background when focused */
  cursor: text;
  caret-color: #000000;
}

.contact-form button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Suez One", serif;
  text-decoration: none;
  color: white;
  background-color: #d12027;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  align-self: center;
}

.contact-form button:hover {
  background-color: #a01a1e;
}
