.footer {
  background-color: #9fa0a6;
  color: white;
  padding: 20px 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer p {
  margin: 0;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #3498db;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .home {
    width: 100%;
  }
  .landing {
    width: 100%;
  }
  .landing-text {
    width: 95%;
  }
}
