:root {
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;

  /* .inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root,
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.red {
  color: #d12027;
}
